# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_AUTH_EMAIL=your-email@gmail.com
SMTP_AUTH_PASSWORD=your-app-password
RECIPIENT_EMAIL=recipient@example.com

# NTP
NTP_SERVER=fritz.box

# Application
SECRET_KEY=change-this-to-random-string
